
$color-titulo: rgb(255, 255, 255);
$color-de-fondo: #111;
$color-de-parrafo: rgb(193, 205, 218);
$fuente-altura: 40px;
$fuente-altura-link: 15px;
$texto-altura: 30px;
$color-letra: white;
$color-link: #aaa;
$color-fondo-footer: black;
$color-letra-footer: rgb(20, 87, 87);
$letra-footer: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fuente-titulo: Arial, Helvetica, sans-serif;
$fuente-secundaria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;